@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');


body::-webkit-scrollbar {
    display: none;
  }
  
  * {
    margin: 0;
  }
  
  body {
    margin: 0;
    font-family: 'IBM Plex Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }


  